<footer class="site-footer">

  <div class="footer-wrapper">
    <ul>
      <li class="footer-content">
        <ul>
          <li class="footer-title">Content</li>
          <li class="footer-link"><a href="/">Work</a></li>
          <li class="footer-link"><a href="/about/">About</a></li>
          <li class="footer-link"><a href="">Contact</a></li>
          <li class="footer-link"><a href="/blog/">Blog</a></li>
        </ul>
      </li>
      <li class="footer-social">
        <ul>
          <li class="footer-title">Find Me</li>
          <li class="footer-link"><a href="http://www.twitter.com/isthatjeff" target="_blank">Twitter</a></li>
          <li class="footer-link"><a href="http://www.instagram.com/_isthatjeff" target="_blank">Instagram</a></li>
          <li class="footer-link"><a href="http://www.pinterest.com/jeffreyherrera" target="_blank">Pinterest</a></li>
        </ul>
      </li>
      <li class="footer-text">
        <ul>
          <li class="footer-title">Like this site?</li>
          <li class="footer-spacing">If you like the site, drop me a line at any of the social media links to the left!</li>
          <li>Like a project? Share with your friends using the social media links in that project's window!!</li>
        </ul>
      </li>
    </ul>
  </div>
  

</footer>
<script src="/js/parallax/source/jquery.parallax.js"></script>
<script src="/js/base.js"></script>

