    <header>
      <ul>
        <li class="logo"><a href="/"><img src="{{ prepend: site.baseurl }}/images/logo.png" alt="Jeffrey Herrera"></a></li>
        <li class="navlink-menu"><p class="menu-button">Menu</p>
          <ul class="dropdown">
            <a href="/about/"><li>About</li></a>
            <a href="#"><li>Contact</li></a>
            <a href="/blog/"><li>Blog</li></a>
            <li class="closedropdown"><i class="ion-ios-close-empty"></i></li>
          </ul>
        </li>
        <li class="navlink"><p><a href="/about/"><span>About</span></a></p></li>
        <li class="navlink"><p><a href="#"><span>Contact</span></a></p></li>
        <li class="navlink"><p><a href="/blog/"><span>Blog</span></a></p></li>
        <li class="social">
          <a href="http://www.twitter.com/isthatjeff" target="_blank"><i class="ion-social-twitter"></i></a>
          <a href="http://www.instagram.com/_isthatjeff" target="_blank"><i class="ion-social-instagram-outline"></i></a>
          <a href="http://www.pinterest.com/jeffreyherrera" target="_blank"><i class="ion-social-pinterest-outline"></i></a>
        </li>
      </ul>
    </header>
    <div class="background">
      <div class="layer left" data-depth="0.1">{% include icons/left.html %}</div>
      <div class="layer midleft" data-depth="0.3">{% include icons/midleft.html %}</div>
      <div class="layer midright" data-depth="0.3">{% include icons/midright.html %}</div>
      <div class="layer right" data-depth="0.2">{% include icons/right.html %}</div>
    </div>
