<div class="sharing">
  	<ul>
  		<li>
  			<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
  		</li>
  		<li>
  			<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
  		</li>
  		<li>
  			<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
  		</li>
  		<li>
	  		<a href="mailto:?subject=Check this out!&amp;body=Check out this site {{ site.url }}{{ page.url }}"
			   title="Share by Email">
			  <img src="http://png-2.findicons.com/files/icons/573/must_have/48/mail.png">
			</a>
		</li>
  	</ul>
  </div>