<svg width="458px" height="1097px" viewBox="0 0 458 1097" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Desktop" sketch:type="MSArtboardGroup" transform="translate(-283.000000, -43.000000)" stroke="#9B9B9B" stroke-width="1" opacity="0.5">
            <g id="lines" sketch:type="MSLayerGroup" transform="translate(253.000000, -471.000000)">
                <path d="M254.525788,515 L487.597664,557.805316 L263.302024,1609.95061 L31,1556.38152 L254.525788,515 L254.525788,515 Z" id="midright" sketch:type="MSShapeGroup"></path>
            </g>
        </g>
    </g>
</svg>